<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
  <!-- font awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  {{!-- validation scripts --}}
  <script src="js/jquery.validate.min">
  </script>

  <!-- Web-Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Acme|PT+Sans+Caption" rel="stylesheet">
  <!-- //Web-Fonts -->

  <script src="/js/moment.js"></script>
  <title>Home Page</title>
</head>
<style>
  body,
  html {
    height: 100%;
    font-family: 'PT Sans Caption', sans-serif;
    background-image: url("./images/background.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }

  .nav-link {
    color: gray;
  }
</style>

<body>
  {{{body}}}
</body>

</html>