<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Team</h5>
          <p>
            <strong>Team ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Team Text</strong>: {{example.text}}</p>
          <p>
            <strong>Team Description:</strong> {{example.description}}</p>
            <a href="/teamManager">← Back To TeamManager</a>
        </div>
      </div>
    </div>
  </div>
</div>
