<div class="card text-center">
  <div class="card-header row">
    <div class="col-8">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/teamManager">Team Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/playerManager">Player Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/gameManager">Game Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gamePicker">Game Picker</a>
        </li>
      </ul>
    </div>
    <div class="offset-1 col-2"><a href="/"> <button type="button" class="btn btn-dark">HOME</button></a>
    </div>
  </div>
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>This is our Game Manager Page!</h2>
        <form id="manager-form" class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="category">Select Home Team:</label>
            <select class="form-control" id="homeTeam" placeholder="Home Team">
            </select>
          </div>

          <div class="form-group">
            <label for="category">Select Visitor Team:</label>
            <select class="custom-select" id="visitorTeam">
            </select>
          </div>
          <div class="form-group">
            <label for="category">Select Game Date:</label>
            <input type="date" id="gameDay">
          </div>
          <div class="form-group">
            <label for="category">Select Game Time:</label>
            <input type="time" id="gameTime">
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Games:</h3>
        <ul id="game-list" class="list-group">
          {{#each games}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="api/games/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/gameManager.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/jquery.validate.min"></script>
<script>
  $("#manager-form").validate({
    submitHandler: function (form) {
      form.submit();
    }
  });
  var validator = $("#manager-form").validate();
  validator.form();
</script>