<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Player Manager Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="player-firstName">Player First Name</label>
            <textarea class="form-control" id="player-firstName" aria-describedby="player-firstName" placeholder="Enter Player First Name"></textarea>
          </div>
          <div class="form-group">
            <label for="player-lastName">Player Last Name</label>
            <textarea class="form-control" id="player-lastName" aria-describedby="player-lastName" placeholder="Enter Player Last Name"></textarea>
          </div>
          <div class="form-group">
            <label for="player-jerseyNumber">Player Jersey Number</label>
            <textarea class="form-control" id="player-jerseyNumber" aria-describedby="player-jerseyNumber" placeholder="Enter Player Jersey Number"></textarea>
          </div>

          <div class="form-group">
            <label for="category">Select Team:</label>
            <select class="custom-select" id="team">
            </select>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Players:</h3>
        <ul id="player-list" class="list-group">
          {{#each players}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="player/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/playerManager.js"></script>
