<div class="card text-center">
  <div class="card-header row">
    <div class="col-8">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="/teamManager">Manage Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/playerManager">Manage Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gameManager">Manage Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gamePicker">Select Game</a>
        </li>
      </ul>
    </div>
    <div class="offset-1 col-2"><a href="/"> <button type="button" class="btn btn-dark">HOME</button></a>
    </div>
  </div>
</div>

<div id="home" style="margin:15px">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2> Manage Players Page </h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="player-firstName">Player First Name</label>
            <textarea class="form-control" id="player-firstName" aria-describedby="player-firstName"
              placeholder="Enter Player First Name"></textarea>
          </div>
          <div class="form-group">
            <label for="player-lastName">Player Last Name</label>
            <textarea class="form-control" id="player-lastName" aria-describedby="player-lastName"
              placeholder="Enter Player Last Name"></textarea>
          </div>
          <div class="form-group">
            <label for="player-jerseyNumber">Player Jersey Number</label>
            <textarea class="form-control" id="player-jerseyNumber" aria-describedby="player-jerseyNumber"
              placeholder="Enter Player Jersey Number"></textarea>
          </div>

          <div class="form-group">
            <label for="category">Select Team:</label>
            <select class="custom-select" id="team">
            </select>
          </div>

          <button id="submit" class="btn funkyButton float-right" style="width:100px">Submit</button>
        </form>
        <h3>Players:</h3>
        <ul id="player-list" class="list-group">
          {{#each players}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="player/{{this.id}}">{{this.text}}</a>
            <button class="btn float-right delete"><i class="fa fa-trash "></i></button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/playerManager.js"></script>