<!DOCTYPE html>
<html lang="english">

<head>
    <title>Scorekeepers</title>
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!--// Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../public/styles/styles.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Font-Awesome-Icons-CSS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- //Custom-Files -->
</head>

<body>
    <!-- header -->
    <!-- <header>
        
        <ul id="menu">
            <li>
                <input id="check02" type="checkbox" name="menu" />
                <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
                <ul class="submenu">
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="score.html">Check Score</a></li>
                    <li><a href="manage.html">Manage Game </a></li>
                </ul>
            </li>
        </ul>
      
    </header> -->
    <!-- //header -->



    <!-- <iframe src="http://free.timeanddate.com/clock/i6m85vy5/n250/szw110/szh110/hoc000/hbw4/cf100/hgr0/fav0/fiv0/mqc000/mqs3/mql25/mqw6/mqd96/mhc000/mhs3/mhl20/mhw6/mhd96/mmc000/mms3/mml10/mmw2/mmd96/hhw16/hmw16/hmr4/hsc000/hss3/hsl90"
            frameborder="0" width="110" height="110"></iframe> -->

    <div class="container main-sect">
        <div class="row">
            <div id="timer" class="col-12 text-center">
                <div id="clockdiv" class="row ">
                    <div class="col-3  time-holder">
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div class="col-3 time-holder">
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div class="col-3 time-holder">
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-6   text-center team-title">Home Team</div>
            <!-- <div class="col-4 text-center"></div> -->
            <div class="col-6  text-center team-title">Visitor Team</div>

            <!-- Div containing our stopwatch controls -->


            <!-- <div id="laps"></div> -->

        </div>
        <div class="row">
            <div class="col-6  text-center" id="home-name">Team A</div>
            <div class="col-6  text-center" id="visitor-name">Team B</div>


        </div>

        <div class="row">
            <div class="col-12"><span id="hscore">2</span><span id="vscore">3</span></div>
        </div>

    </div>



</body>

</html>