body {
    height: 100%;
    font-family: 'PT Sans Caption',
        sans-serif;
}

.bg {
    /* The image used */
    background-image: url("/public/images/ice-hockey.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.funkyButton {
    border: black solid 1px;
    border-radius: 0%;
    margin: 5px 10px;
    position: relative;
    /* padding: 20px; */
    width: 200px;
    height: 50px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.funkyButton:after {
    content: "";
    background: #003E7E;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.funkyButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

/* scorekeeper page */

.scoreheading {
    text-align: center;
    color: rgb(4, 66, 117);
    text-shadow: rgb(27, 6, 65) 0 0 10px;
    font-family: 'Diplomata', cursive;
    padding: 3% 1%;
    margin: 2% 0;
    border-bottom: 1px solid rgb(0, 95, 238);
}

.controller {
    padding: 10px;
    margin: auto;
}

#start-game,
#stop-game {
    margin: auto;
}

/* clock */
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: rgb(180, 185, 184);
    display: inline-block;
}

#clockdiv div>span {
    /* padding: 15px; */
    border-radius: 3px;
    background: #003E7E;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.time-holder {
    width: 100px;
    margin-bottom: 35px;
}


.minutes,
.seconds,
.milliseconds {
    width: 50px;
    height: 42px;
}

/* ..... */

#hscore,
#vscore {
    font-size: 30px;
    padding: 2px 15px;
    border: 2px solid gray;
    width: 50px;
    min-width: 50px;

}

.winner {
    background-color: rgb(119, 168, 241);
}

.game-button {
    width: 165px;
    margin: 10px;
}

.display-row {
    border: 1px solid rgb(50, 72, 94);
    background-color: rgba(152, 202, 252, 0.5);
    /* background-opacity: 0.0; */
}

/* view scoresplace */
.scores-appear-here {
    background-color: rgba(0, 0, 0, 0.2)
}